h3{
   color: #5e068a;
   
   
}
#learn{
    margin-top: 5%;
}
.nav-link{
    color:black;
  
}
h5{
    color: #5e068a;
}
#course{
    padding-top: 5%;
}
#view{
    color: #5e068a;
   
}
#courses{
    color: #5e068a;
    padding-left: 50%;
}
